

p {
}

body, html {
    height: 100%;
    margin: 0;
    font-family: 'Prata', serif;
             font-size: 35px;
}

.bg {
    /* The image used */
    background-image: url("images/3.jpg");

    /* Full height */
height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

}

.yo {
            position: absolute;
     letter-spacing: 1px;
     top: 1%;
     left: 1%;
     padding: 0;
padding: 0;
color: white;
}

p {
  margin: 0;
  padding: 0;
}

a {
      padding: 0px;
    text-decoration: none;
    color: black;
    display: block;
    transition: 0.3s;
         right: 1%;
}

.text
{
  color: white;
}

}
.yap {
            position: absolute;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;

    color: white;
      text-align: center;
}

.yep {
 position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
  font-size: 60px;
  color: white;
  text-align: center;
}

.burger {
  position: absolute;
     top: 1%;
     right: 1%;
     color: black;
}
